.FabMenu {
  position: relative;
  display: inline-block;
}

.FabMenu .trigger i {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.FabMenu.open .trigger i {
  transform: rotate(0deg);
}

.FabMenu .menu {
  position: absolute;
  display: flex;
  align-items: center;
}

.FabMenu.right .menu {
  left: 100%;
  top: 0;
  height: 100%;
}

.FabMenu.right .menu > * {
  margin-left: 5px;
}

.FabMenu.left .menu {
  right: 100%;
  top: 0;
  flex-direction: row-reverse;
}

.FabMenu.left .menu > * {
  margin-right: 5px;
}

.FabMenu.down .menu {
  flex-direction: column;
}

.FabMenu.down .menu > * {
  margin-top: 5px;
}

.FabMenu.up .menu {
  left: 0;
  bottom: 100%;
  flex-direction: column-reverse;
}

.FabMenu.up .menu > * {
  margin-bottom: 5px;
}